<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <br>
      <br>
      <br>
      <form>
        <label>Usuario</label>
        <input #usuario1 type="text" class="form-control" placeholder="Usuario">
        <br>
        <label>Password</label>
        <input #password1 type="password" class="form-control" placeholder="Password">
        <br>
        <div id=alerta1 class="alert-success" style="display: none">Bienvenido al juego {{usuario1}}</div>
        <br>
        <button id=boton1 style="display: block" class="btn btn-primary" (click)="iniciarSesionJ1(usuario1.value, password1.value)" )>Ingresar primer jugador</button>
      </form>
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-4">
      <form id="segundo login"  style="display: none">
        <label>Usuario</label>
        <input #usuario2 type="text" class="form-control" placeholder="Usuario">
        <br>
        <label>Password</label>
        <input #password2 type="password" class="form-control" placeholder="Password">
        <br>
        <div id=alerta2 class="alert-success" style="display: none">Bienvenido al juego {{usuario1}}</div>
        <br>
        <button id=boton2 style="display: block" class="btn btn-primary" (click)="iniciarSesionJ1(usuario1.value, password1.value)" )>Ingresar segundo jugador</button>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
